*/node_modules/
/static/
staticfiles/
/media/
mediafiles/

*.pyc
__pycache__/
*.py[cod]
*$py.class

.yarn_cache/*
!.yarn_cache/.gitkeep

*.sqlite3
*.sqlite
*.sql
!backup.sql

.env
.data

*.swp

# Distribution / packaging
build.json
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
coverage/
.testmondata
.tmontmp

*/.next/*


